{{- $root := . -}}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ .FuncName }} - original C source code</title>
		<link rel="stylesheet" href="inc/css/normalize.css">
		<link rel="stylesheet" href="inc/css/pagination.css">
		<link rel="stylesheet" href="inc/css/style.css">
		<link rel="stylesheet" href="inc/css/chroma_{{ .Style }}.css" id="chroma_style">
		<script src="inc/js/style.js"></script>
	</head>
	<body onload="update_style(); add_update_style_event_listener();">
{{ .CCode }}
	</body>
</html>
