{{- $root := . -}}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ .FuncName }} - overview of control flow analysis</title>
		<link rel="stylesheet" href="inc/css/normalize.css">
		<link rel="stylesheet" href="inc/css/pagination.css">
		<link rel="stylesheet" href="inc/css/style.css">
		<link rel="stylesheet" href="inc/css/chroma_{{ .Style }}.css" id="chroma_style">
		<script src="inc/js/style.js"></script>
	</head>
	<body onload="update_style_selection();">
		<div class="paginate-container">
			<div class="pagination">
				<a href="{{ .FuncName }}_0001.html">«</a>
{{- if ge .PrevPage 1 }}
				<a href="{{ .FuncName }}_{{ printf "%04d" .PrevPage }}.html" class="previous_page">Previous</a>
{{- else }}
				<span class="previous_page disabled">Previous</span>
{{- end }}
{{- range $i, $page := .Pages }}
	{{- if eq $page $root.CurPage }}
				<em class="current">{{ $page }}</em>
	{{- else }}
				<a href="{{ $root.FuncName }}_{{ printf "%04d" $page }}.html">{{ $page }}</a>
	{{- end }}
{{- end }}
{{- if le .NextPage .NPages }}
				<a href="{{ .FuncName }}_{{ printf "%04d" .NextPage }}.html" class="next_page">Next</a>
{{- else }}
				<span class="next_page disabled">Next</span>
{{- end }}
				<a href="{{ .FuncName }}_{{ printf "%04d" .NPages }}.html">»</a>
			</div>
			<select id="style_selection" onchange="select_style();">
	{{- range $i, $style := .Styles }}
				<option value="{{ $style }}" onclick="set_style('{{ $style }}');" {{- if eq $style $root.Style }} selected {{- end }}>{{ $style }}</option>
	{{- end }}
			</select>
		</div>
		<table style="width: 100%;">
			<tr>
				<th>Original C source code</th>
				<th>LLVM IR assembly</th>
				<th>Control flow analysis</th>
				<th>Reconstructed Go source code</th>
			</tr>
			<tr>
				<td><iframe src="{{ .FuncName }}_step_{{ printf "%04d" .Step }}_c.html" id="frame_c" frameborder="0" width="100%" height="1200px"></iframe></td>
				<td><iframe src="{{ .FuncName }}_step_{{ printf "%04d" .Step }}_llvm.html" id="frame_llvm" frameborder="0" width="100%" height="1200px"></iframe></td>
				<td><iframe src="{{ .FuncName }}_step_{{ printf "%04d" .Step }}{{ .SubStep }}_cfa.html" id="frame_cfa" frameborder="0" width="100%" height="1200px"></iframe></td>
				<td><iframe src="{{ .FuncName }}_step_{{ printf "%04d" .Step }}{{ .SubStep }}_go.html" id="frame_go" frameborder="0" width="100%" height="1200px"></iframe></td>
			</tr>
		</table>
	</body>
</html>
